header{
    background: linear-gradient(0deg, rgba(58,84,218,1) 19%, rgba(252,70,107,1) 45%, rgba(210,62,215,1) 82%); 
}
table{
  border: 1px solid black;
}
thead{
   background: linear-gradient(0deg, rgba(100,84,218,1) 19%, rgba(252,70,107,1) 45%, rgba(210,62,215,1) 82%); 
}
main{
    display: flex;
}
table{

    display: inline-block; background-color: lightpink; width: 1000px;   
    border: 1px solid rgb(0, 0, 0); border-collapse: collapse;
}
form{
    display: inline-block; background-color: lightpink; width: 1000px; border: 2px solid black;

}
td{
    border: 1px solid black;
}
th{
    border: 1px solid black;
}