body{
    margin: 0;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,252,157,1) 100%); 
    font-family: 'Playfair', serif; 
}

main{
    position: relative;
    top: 1vh;
    left: 1vw;
    display: flex;
    background-color: #000;
    border-radius: 50px;
    width: 98vw;
    height: 98vh;
}

.esquerda > h1{
    color: blue;
}
.esquerda{
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    width: 600vw;
    height: 600px;
}
.direita{
    display: flex;
    width: 50vw;
    height: 100vh;
}
.card{
    padding: 30px 35px;
    background-color: #281091;
    border-radius: 20px;
    width: 60%;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}