
h1{
   
    font-family: 'Sigmar', cursive;
   
    background: linear-gradient(0deg, rgba(58,84,218,1) 19%, rgba(252,70,107,1) 45%, rgba(210,62,215,1) 82%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 100px;
}